* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #c9d6df;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

#auth-container {
    position: relative;
    margin: 5% auto;
    min-height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}

#main-app {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    width: 100vw;
    min-height: 8vh;
    display: inline-flex;
    flex-direction: row;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background: #52616b;
    color: black;
    justify-content: flex-start;
}

.panel p,
h4 {
    color: white;
}

h1,
h4,
h3,
button {
    color: black;
}

.headertab {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
}

.icontab {
    left: 50vw;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: middle;
    align-items: center;
}

#header-forum {
    margin-right: 60%;
}

footer {
    display: flex;
    bottom: 0;
    right: 0;
    /* position: fixed; */
    height: 4vh;
    color: black;
    font-size: 12px;
    padding: 10px;
}

.center,
.center1 {
    line-height: 5vh;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 4px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.2s ease;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 10px 4px 0 2px;
    border-radius: 0.5rem;
    height: 70%;
    max-width: 100%;
    font-size: 14px;
}

.center {
    border: 1px solid silver;
    background-color: #52616b;
}

.center1 {
    background-color: transparent;
}

.center:hover,
.center:focus,
.center1:hover,
.center1:focus {
    background: #ff5722;
    transition: 0.2s ease;
}

hr {
    margin-top: -9px;
    height: 7px;
    background-color: #52616b;
    border: none;
    outline: none;
}

#line {
    background-color: #52616b;
    margin-top: 5px;
    height: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#logo {
    height: 8vh;
    width: 5vw;
    border-radius: 50%;
    border: 1px dotted silver;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    /* margin-bottom: -20px;
    margin-left: -10px;
    margin-right: 5px; */
    vertical-align: bottom;
    margin-right: 5px;
}

#logo-s {
    background: white;
    height: 45px;
    width: 50px;
    display: flex;
    left: 0px;
    top: 0px;
    margin: 3px;
    border-radius: 50%;
    border: 1px dotted white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#main-pic {
    margin-top: -1vh;
    height: 40vh;
    width: 40vw;
}

.other-pic {
    height: 40vh;
}

#challenge-pix {
    border: 1px solid silver;
    border-radius: 1.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

.profile-pic {
    margin-left: 5px;
    margin-right: 5px;
    height: inherit;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#challenge-pix {
    border: 1px solid silver;
    border-radius: 1.5rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

#suggestion {
    margin-top: 70px;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.friend-list {
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.profile {
    margin-top: 10px;
    margin-left: 5px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mini-pic {
    margin-right: 0;
    margin-top: 5px;
    margin-left: 10px;
    width: 120px;
    height: 125px;
    border-radius: 5%;
}

.mini-profile {
    margin-right: 10px;
    margin-bottom: 25px;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid silver;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.userlist {
    margin-left: 10px;
}

.modal-container {
    animation: ease 5s linear infinite;
    max-height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    height: 85vh;
    width: 85vw;
    border-radius: 0.5rem;
    background-image: linear-gradient(90deg, white 30%, silver 70%);
}

.modal-container label {
    color: #303841;
    font-weight: 600;
}

.modal-container input {
    padding: 100px;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.other-profile-info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 50vh;
}

.mini-profile-info {
    margin-top: 5px;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.profile-info {
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.header-name,
.header-score {
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: white;
}

#score {
    background: #c9d6df;
    padding: 5px;
}

.header-name {
    margin-left: -3vw;
    width: 3vw;
    margin-right: 4vw;
}

#pic {
    height: 6vh;
    width: 7vw;
}

.profile-name {
    margin-bottom: 5px;
    font-weight: 550;
    text-transform: capitalize;
    color: #303841;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#biocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
}

span,
button {
    margin-top: 10px;
}

#bioeditor {
    margin-left: -4vw;
    width: 23vw;
    height: 19vh;
}

#bioeditor textarea {
    width: 18vw;
    height: 14vh;
    border: 1px solid silver;
    justify-content: center;
}

#bio-btn {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bio-btn button {
    /* margin-top: 4vh;
    margin-left: 5px; */
    width: 8vw;
    height: 4vh;
    margin: 4px 2px 5px 2px;
    border-radius: 0.5rem;
    border: 3px solid #c9d6df;
}

#bio-btn button[name="save"] {
    justify-content: flex-start;
    border-radius: 0.5rem;
    border: 3px solid #c9d6df;
}

#bio-btn button[name="cancel"] {
    justify-content: flex-end;
    border-radius: 0.5rem;
    border: 3px solid #c9d6df;
}

#upload-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#upload-container button {
    margin-right: 15px;
    border-radius: 0.5rem;
    border: 3px solid #c9d6df;
}

.display-colwise {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.display-rowwise {
    margin-top: 10px;
    display: inline-flex;
    flex-flow: row wrap;
    margin-left: 10px;
}

.error {
    margin: 10px;
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    border: 1px solid silver;
    border-radius: 0.5rem;
}

.post-item {
    background-color: white;
    width: 40vw;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    text-transform: capitalize;
}

.reply-item {
    background-color: lightgrey;
    width: 38vw;
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: right;
    margin-right: 10px;
}

.post-item p,
.reply-item p {
    margin: 5px;
    word-wrap: break-word;
}

.post-item span,
.reply-item span {
    font-size: 12px;
}

.post-options,
.reply-options {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-options span,
.post-options a,
.reply-options span,
.reply-options a {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.add-post {
    width: 35vw;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.post-input {
    margin: 10px;
    width: 35vw;
    height: 10vh;
}

.collections-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: #52616b;
    margin: 5px;
}

.add-collection {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
    height: 10vh;
    justify-content: center;
    align-items: center;
    /* background: #52616b;
    border: 1px solid silver;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

.collection-info {
    min-width: 15vw;
    max-width: 15vw;
    margin-right: 10px;
}

.collection-name {
    margin-top: 5px;
    margin-right: 10px;
    width: 10vw;
    height: 30px;
}

.collection-description {
    margin-top: 5px;
    margin-right: 10px;
    width: 30vw;
    height: 30px;
}

h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: white;
    text-align: left;
    text-transform: capitalize;
    border: none;
    outline: none;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 5px;
    padding: 5px;
    margin-bottom: -28px;
    background-color: #52616b;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: 540;
    font-size: 28px;
    text-align: center;
}

h3 {
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: #eee;
}

button {
    margin-left: 5px;
    width: 120px;
    height: 32px;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    background: #52616b;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    border: 3px solid #c9d6df;
}

button:hover,
button:focus {
    transition: 0.2s ease;
}

button[name="register"]:hover,
button[name="register"]:focus,
button[name="login"]:hover,
button[name="login"]:focus {
    background: #1e2022;
    transition: 0.2s ease;
}

button.ghost {
    background-color: transparent;
    border: 2px solid white;
}

.signup-container,
.signin-container {
    position: absolute;
    top: 0;
    padding: 0 50px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    transition: all 0.6s ease-in-out;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.signup-container {
    animation: 1s ease-out 0s 1 slideFromRight;
    left: 0;
    width: 50%;
    z-index: 2;
}

.signin-container {
    animation: 1s ease-out 0s 1 slideFromRight;
    left: 0;
    width: 50%;
    z-index: 1;
}

#overlay-container {
    animation: 1s ease-out 0s 1 slideFromLeft;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

#overlay {
    background: #52616b;
    background: linear-gradient(to right, #00adc7, #52616b) no repeat 0 0 /
        cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    width: 50%;
    height: 100%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.right {
    right: 0;
    transform: translateX(0);
}

.left {
    left: 0;
    transform: translateX(-20%);
}

.chat-container {
    margin-top: 2vh;
    width: 50vw;
    overflow-y: scroll;
    border: 1px solid silver;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: #52616b;
    height: 76vh;
}
.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-users-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}
.online-container {
    margin-top: 2vh;
    border: 1px solid silver;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background-color: #52616b;
    overflow-y: scroll;
    height: 75vh;
    width: 15vw;
}
.online-container::-webkit-scrollbar {
    display: none;
}

.online-user {
    color: white;
    width: 35vh;
    display: flex;
    flex-flow: row nowrap;
    background: #eeeeee;
    margin: 5px;
    justify-content: space-around;
    border: 1px solid #52616b;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background: #eeeeee;
}

.online-container h4 {
    color: white;
}

.online-user-pic {
    margin-right: 0;
    margin-top: 0;
    width: 50px;
    height: 50px;
    border-radius: 5%;
}

.count {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.2em;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 1.2em;
}

h4 {
    color: #303841;
    text-align: center;
}

#biocontainer h4 {
    font-size: 22px;
}

#biocontainer h4,
#biocontainer span {
    font-size: 18px;
    color: black;
    font-family: "Courgette", cursive;
}

.online-user-name span {
    color: #52616b;
    animation: online-user 5s linear infinite;
    font-weight: 600;
    text-transform: capitalize;
}

@keyframes online-user {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 2.5;
    }
    100% {
        opacity: 2.5;
    }
}

#chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#chat-pic {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    vertical-align: middle;
    background: gainsboro;
    margin-top: 9%;
}

#msg {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #52616b;
    border-radius: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    background: #f0f5f9;
    color: #303841;
    fpadding: -10px;
}

#time {
    margin-bottom: 0px;
    font-size: 12px;
    color: blue;
    padding-left: 25vw;
    font-style: italic;
}

#msg p {
    margin-left: 3px;
}

#pic-name {
    margin-left: 5px;
    margin-right: 7px;
    text-align: center;
}

#chat-text {
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.chat-container textarea {
    width: 100%;
    height: 10%;
}

.menu {
    background: #52616b;
    border: 1px solid silver;
    max-height: 33vh;
}

.menu-item:hover {
    background: #ff5722;
    transition: 0.2s ease-in;
}

.menu-item:active {
    background: #ff5722;
    transition: 0.2s ease-in;
}

.menu-item {
    display: inline-block;
    letter-spacing: 1px;
    line-height: 5vh;
    text-decoration: none;
    /* margin-left: 2vw; */
    padding-left: 2vw;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

#line1 {
    background-color: silver;
    margin-top: 5px;
    height: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#bell,
#search,
#plus,
#chat {
    margin-top: 5px;
    margin: 5.5px;
    height: 5.5vh;
}

#bell:hover,
#plus:hover,
#search:hover,
#chat:hover {
    background-color: white;
    border-radius: 50%;
}

#notification {
    color: black;
    position: absolute;
    margin-top: 6vh;
    margin-left: -8vw;
    padding: 10px;
    background: white;
    border-radius: 20px;
}

input[name="search"] {
    margin-left: 27vw;
    margin-top: 2.25vh;
    width: 15vw;
    background: #f0f5f9;
}

.challenges-container {
    display: grid;
    /* width: 100vw; */
    /* height: 100vh; */
    grid-gap: 1px;
    background-color: #52616b;
}

.challenge-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    grid-gap: 1px;
    background-color: #52616b;
    border: 1px solid silver;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-part {
    grid-area: 1 / 1 / 3 / 2;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    height: 97vh;
    width: 47vw;
    background-color: #f0f5f9;
    margin: 10px;
    padding: 10px;
}

.right-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 1 / 2 / 3 / 3;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    overflow-y: hidden;
    height: 97vh;
    width: 49vw;
    background-color: #f0f5f9;
}

.ace {
    margin-top: 50px;
    grid-area: 1 / 1 / 2 / 4;
    margin: 10px;
    height: 2vh;
    width: 49vw;
    margin-left: 60px;
}

.tc {
    grid-area: 2 / 1 / 3 / 3;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    justify-content: center;
    width: 45vw;
    height: 25vh;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.tc::-webkit-scrollbar {
    display: none;
}

.code-submit {
    grid-area: 2 / 3 / 3 / 4;
    width: 39vw;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

#solutiontab {
    width: 35vw;
    height: 50vh;
    text-align: center;
}

#left-half {
    grid-column: 1;
    margin-bottom: 2vh;
    margin-left: 2vw;
    padding: 7px;
    width: 25vw;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    background-color: #f0f5f9;
}

#right-half {
    grid-column: 2;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin-right: 2vw;
    margin-bottom: 2vh;
    padding: 7px;
    overflow-y: scroll;
    background-color: #f0f5f9;
}

#right-half::-webkit-scrollbar,
#left-half::-webkit-scrollbar {
    display: none;
}

#collection-modal {
    background-color: #c9d6df;
    padding: 5px;
    margin: 0px;
}

#challenge-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#challenge-title {
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    color: #1e2022;
}

#add-to-collection {
    width: auto;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-size: 12px;
    background-color: inherit;
    border: none;
    color: blue;
}

.classifiers {
    text-decoration: none;
    letter-spacing: 1px;
    color: #52616b;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid silver;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    padding-left: 5px;
}

.classifiers:hover,
.classifiers:active,
.classifiers:focus {
    color: blue;
    transition: 0.2s ease;
    background: #c9d6df;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 2vw;
    height: 4vh;
    right: 1vw;
    top: 0.75vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Style the tab */
.tab {
    overflow: hidden;
    width: 49vw;
    display: flex;
    flex-direction: row;
    /* background: #f0f5f9; */
    justify-content: flex-start;
    margin-bottom: 10px;
}

/* Style the buttons that are used to open the tab content */
.inactivetablink {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: black;
    letter-spacing: 0.75px;
    white-space: nowrap;
    font-size: 13px;
}

.activetablink {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    letter-spacing: 0.75px;
    white-space: nowrap;
    font-size: 13px;
    background-color: #ddd;
    padding: 5px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.testresult {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.profile-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 1px;
    border: 1px solid silver;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
}

.profile-container::-webkit-scrollbar {
    display: none;
}

.profile-left {
    grid-area: 1 / 1 / 3 / 2;
    grid-column: 1;
    margin-bottom: 2vh;
    margin-left: 2vw;
    padding: 7px;
    width: 30vw;
}

.profile-right {
    grid-column: 2;
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin-right: 2vw;
    margin-bottom: 2vh;
    width: 60vw;
    padding: 7px;
    background-color: #f0f5f9;
}

#scoretable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    max-width: 80vw;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    text-transform: capitalize;
    width: 100%;
    color: black;
    background-color: silver;
}

#scoretable td,
#scoretable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoretable tr:nth-child(even) {
    background-color: grey;
}

#scoretable td:nth-child(2) {
    text-align: left;
}

#scoretable tr:hover {
    background-color: #ddd;
}

#scoretable th {
    padding-bottom: 12px;
    text-align: center;
    background-color: #454545;
    color: white;
}

#score-pic {
    width: 6vh;
    height: 7vh;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 10px;
}

.settings {
    border: 1px solid silver;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}
